/COPYING
/INSTALL
# autotools files
/Makefile.in
/_build
/aclocal.m4
/autoconf.h.in
/autoconf.h.in~
/autoconf
/autom4te.cache
/configure
/m4/libtool

# qmake object directory
/qbuild/obj

# qtcreator user profile
/qbuild/groovy.pro.user

# thumbnails created by windows
Thumbs.db
# files build by Visual Studio
*.obj
*.exe
*.pdb
*.user
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.log
[Bb]in
[Dd]ebug*/
*.lib
*.sbr
obj/
[Rr]elease*/
_ReSharper*/
[Tt]est[Rr]esult*
